*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(30, 30, 30);
    color: rgb(78, 184, 148);
    display: flex;
    flex-direction: column;
    
}
.app-container{
    margin: auto;
    height: 100vh;
    max-width: 100%;
}
.title{
    text-align: center;
    height: 10vh;
    line-height: 100px;
    margin-bottom: 50px;
}
.work-process{
    display: flex;
}
ul{
    text-decoration: none;
    list-style: none;
    margin: auto;
}
.checkbox{
    margin-right: 10px;
}
.tools-section{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}
.tools{
    margin: 20px;
}
.project-image{
    width: 300px;
    max-width: 100%;
    height: auto;
}
